body{
	background-image: url('lily-banse--YHSwy6uqvk-unsplash.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
h1{
	font-size: 40px;
	text-align:center;
	text-transform: uppercase;
	 font-family: 'Noto Serif', serif;

}
h2{
	font-size: 40px;
 	font-family: 'Rowdies', cursive,sans-serif;
	text-align:center;
	text-transform: uppercase;

}

p{
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 500;
	background-color: rgb(224, 96, 36);
	padding: 0 10px;
	margin: 0;
	text-align: right;
	width: 40%;
	float: right;
	font-weight: 600;

	
}
.div{
	border: 2px black solid;
	background-color: rgb(232, 156, 67);
	width: 90%;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;


}
ul{
	clear: right;
	margin-top: 40px;
	font-family: 'Antic Slab', serif;
	font-weight: 600;
	text-transform: capitalize;
}
.row{
	width: 100%;
}

/*large device */
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		position: relative;
		
		top: 120px;
	}
	.col-lg-4{
		width: 33%
	}
}

/*medium devices */
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6 , .col-md-12 {
		float: left;
	}
	.col-md-6{
		width: 50%
	}
	.col-md-12{
		width: 100%;
		margin-top:  20px ;
		
	}
}

/*small devices */
@media (max-width: 767 px){
	.col-sm-12{
		float: left;
		
	}
	.col-sm-12{
		width: 100%
	}
}

}
	